
body {
    background: #fff !important;
}




/*
@media print {
    * {
        margin: 0px !important;
        padding: 0px !important;
        color: black !important;
        background-color: white !important;
        box-shadow: none !important;
    }
    
    body {
        font-size: 1rem !important;
    }

    div {
        overflow: hidden !important; 
        width: 100%;
    }

    input {
        border: 0px !important;
        background-color: #fff !important;
        color: black !important;
    }

    select {
        border: 0px !important;
        color: black !important;
    }

    table {
        border: 0px;
        border-collapse: collapse !important;
        empty-cells: hide !important;
        overflow: hidden !important; 
        width: 100% !important;
        margin: 0px !important;
    }

    nobr {
        white-space: normal !important;
    }

    table#ox_jSicflexWebApp_InventoryInvoice__imatrs input[type=checkbox] {
        display: none !important;
    }

    #ox_jSicflexWebApp_InventoryInvoice__collection_imatrs___ {
        width: 100% !important;
    }

    .ox-frame {
        border: 0px !important;
        padding: 3px !important;
    }

    .ox-frame-title {
        border-top: 1px solid gray;
    }

    td * {
        word-wrap: normal !important;
    }


    #xava_loading,
    img:not(.sic-header-org-logo),
    .sic-header-flags,
    #main_navigation,
    #module_description, 
    .ox-button-bar, 
    .ox-infos,
    .ox-image-link,
    .ox-collection-list-actions,
    #ox_jSicflexWebApp_InventoryInvoice__list_filter_imatrs,
    .ox-list-info,
    .ox-section,
    #ox_jSicflexWebApp_InventoryInvoice__bottom_buttons *,
    #modules_list
     {
        display: none !important;
    }
}
    

*/